<h3>Salida de Mercadería por Ajuste de Stock - Devolucion - Descarte</h3>

<div class="row">
  <!-- Fecha y comprobante unicamente -->
  <div class="row">
    <div class="form-group mr-3">
      <label for="fecha">Fecha:</label>
      <input type="text" placeholder="Fecha" class="form-control" bsDatepicker name="fecha"
        [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" [(ngModel)]="encabezado.fecha">
    </div>
    <div class="form-group">
      <label for="comprobante">Nº Comprobante/Referencia</label>
      <input type="text" name="comprobante" id="comprobante" [(ngModel)]="encabezado.comprobante" class="form-control">
    </div>
  </div>

</div>
<div class="row" *ngIf="items">
  <table class="table table-bordered">
    <thead class="bg-success">
      <tr class="text-center">
        <th style="width: 50px;">#Item</th>
        <th>Producto</th>
        <th>Cantidad</th>
        <th style="width: 50px;"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of detalleArray ; let i = index" class="bg-light text-dark">
        <td> {{i}} </td>
        <td> {{item.nombreProducto}} </td>
        <td class="text-right"> {{item.cantidadEgreso | number:'0.2-2'}} </td>
        <td>
          <button (click)="borraElementoDetalle(i, item.cantidadEgreso)">
            <fa name="times"></fa>
          </button>
        </td>
      </tr>
      <tr class="bg-primary text-white">
        <td></td>
        <td class="text-right">Total Productos:</td>
        <td class="text-right">{{totalCantidad | number:'0.2-2'}}</td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="row">
  <div class="col d-flex justify-content-center">
    <button *ngIf="items" (click)="openModal(confirmaSalidaTotal, encabezado, detalleArray)" class="btn btn-primary mr-4">Confirmar</button>
    <button (click)="openModal(itemSalida, encabezado, [])" class="btn btn-primary">Agregar Item</button>
  </div>
</div>

<ng-template #itemSalida>
  <div class="modal-header">
    <h3>Salida de stock</h3>
  </div>
  <div class="modal-body">
    <input type="hidden" [(ngModel)]="encabezado.fecha" name="fecha">
    <input type="hidden" [(ngModel)]="encabezado.nombreProveedor" name="nombreProveedor">
    <input type="hidden" [(ngModel)]="encabezado.nombreCliente" name="nombreCliente">
    <input type="hidden" [(ngModel)]="encabezado.comprobante" name="comprobante">
    <div class="row align-items-center">
      <div class="form-group mr-1 col">
        <label for="producto">Producto:</label>
        <select name="producto" id="producto" class="form-control" name="nombreProducto"
          [(ngModel)]="detalle.infoProducto">
          <option *ngFor="let prod of productos" value="{{prod.id}}, {{prod.nombreProducto}}, {{prod.existencia}}">
            {{prod.nombreProducto}} {{prod.existencia}}
          </option>
        </select>
      </div>

      <div class="form-group mr-1 col">
        <label for="cantidad">Cantidad</label>
        <input type="number" id="cantidad" class="form-control" name="cantidadEgreso"
          [(ngModel)]="detalle.cantidadEgreso">
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button (click)="agregarItem(encabezado, detalle)" class="btn btn-success">
      <fa name="check"></fa> Agregar Item
    </button>
    <button (click)="modalRef.hide()" class="btn btn-danger">
      <fa name="times"></fa> Cancelar
    </button>
  </div>
</ng-template>

<ng-template #confirmaSalidaTotal>
  <div class="modal-header">
    <h3>Confirme Salida de Productos</h3>
  </div>
  <div class="modal-body">
    <table class="table table-bordered text-center">
      <thead>
        <tr>
          <th>Fecha</th>
          <th>Comprobante</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{encabezado.fecha | date: 'dd/MM/yyyy'}}</td>
          <td>{{encabezado.comprobante}}</td>
        </tr>
      </tbody>
    </table>
    <table class="table table-bordered">
      <thead>
        <tr class="text-center">
          <th># Item</th>
          <th>Producto</th>
          <th>Cantidad</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of detalleArray; let i = index">
          <td>{{i}}</td>
          <td>{{item.nombreProducto}}</td>
          <td class="text-right">{{item.cantidadEgreso | number:'0.2-2'}}</td>
        </tr>
        <tr>
          <td></td>
          <td class="text-right">Cantidad Total:</td>
          <td class="text-right"> {{totalCantidad | number:'0.2-2'}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <button (click)="confirmaSalidaDefinitiva(encabezado, detalleArray)" class="btn btn-danger">Confirmar</button>
    <button (click)="modalRef.hide()" class="btn btn-primary">Cancelar</button>
  </div>
  <!-- <ul>
    <li *ngFor="let i of detalleArray">
      {{i.nombreProducto}}  ////  Cantidad: {{i.cantidadEgreso}}
    </li>
  </ul> -->
</ng-template>