<h3>Salida por Facturación</h3>
<!-- Fecha y comprobante unicamente -->
<div class="row">
    <div class="form-group mr-3">
        <label for="fecha">Fecha:</label>
        <input type="text" placeholder="Fecha" class="form-control" bsDatepicker name="fecha" required
            [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" #fecha="ngModel" [(ngModel)]="encabezado.fecha">
        <div *ngIf="!fecha.valid && fecha.touched" class="alert alert-danger" role="alert">
            La fecha es Obligatoria!
        </div>
    </div>
    <div class="form-group mr-3">
        <label for="cliente">Cliente: </label>
        <select name="infoCliente" id="cliente" class="form-control" #infoCliente="ngModel"
            [(ngModel)]="encabezado.infoCliente" required>
            <option *ngFor="let cli of clientes"
                value="{{cli.nombreCliente}}, {{cli.direccion}}, {{cli.telefono}}, {{cli.cuit}}, {{cli.creditoActual}}, {{cli.creditoDisponible}}">
                {{cli.nombreCliente}}</option>
        </select>
        <div *ngIf="!infoCliente.valid && infoCliente.touched" class="alert alert-danger">
            El Nombre del Cliente es obligatorio
        </div>
    </div>
    <div class="form-group">
        <label for="comprobante">Nº Comprobante/Referencia</label>
        <input type="text" name="comprobante" id="comprobante" #comprobante="ngModel"
            [(ngModel)]="encabezado.comprobante" required class="form-control">
        <div *ngIf="!comprobante.valid && comprobante.touched" class="alert alert-danger">
            El Nro de Comprobante es obligatorio
        </div>
    </div>
</div>
<button (click)="openModal(agregaItem, encabezado, [])" *ngIf="fecha.valid && infoCliente.valid && comprobante.valid"
    class="btn btn-primary mb-4">Agrega Item</button>
<div class="row" *ngIf="items">
    <table class="table table-bordered">
        <thead class="bg-success text-center">
            <th style="width: 50px;">#Item</th>
            <th>Descripcion</th>
            <th>Precio Unitario</th>
            <th>Cantidad</th>
            <th>Sub Total</th>
            <th> </th>
        </thead>
        <tbody>
            <tr *ngFor="let item of detalleArray ; let i = index">
                <td> {{i}} </td>
                <td> {{item.nombreProducto}} </td>
                <td class="text-right"> {{item.precioVenta | number:'0.2-2'}} </td>
                <td class="text-right"> {{item.cantidadEgreso | number:'0.2-2'}} </td>
                <td class="text-right"> {{item.precioTotalLinea | number:'0.2-2'}} </td>
                <td>
                    <button (click)="borraElementoDetalle(i, item.precioTotalLinea)">
                        <fa name="times"></fa>
                    </button>
                </td>
            </tr>
        </tbody>
        <td></td>
        <td></td>
        <td></td>
        <td class="text-right">Importe Total : </td>
        <td class="text-right">{{importeTotal | number:'0.2-2'}} </td>
    </table>
</div>
<div class="row" *ngIf="items">
    <button class="btn btn-success" (click)="openModal(modalConfirmar, encabezado, detalleArray)">Confirmar
        Factura</button>
</div>


<ng-template #agregaItem>

    <div class="modal-header">
        <h3>Agregar Item de Facturación</h3>
    </div>

    <div class="modal-body">
        <div class="row align-items-center">
            <div class="form-group mr-1 col">
                <label for="producto">Producto:</label>
                <select name="producto" id="producto" class="form-control" name="nombreProducto"
                    (change)="cambioProducto($event)" [(ngModel)]="detalle.idProducto">
                    <option *ngFor="let prod of productos"
                        value="{{prod.id}}, {{prod.nombreProducto}}, {{prod.existencia}}, {{prod.precioVenta}} ">
                        {{prod.nombreProducto}}
                    </option>
                </select>
            </div>
            <div class="form-group mr1 col">
                <label for="precioVenta">Precio Unitario</label>
                <input type="number" class="form-control" readonly value="{{precioVentaProvisorio}}" id="precioVenta"
                    name="precioVenta" [(ngModel)]="detalle.precioVenta">
            </div>
            <div class="form-group mr1 col">
                <label for="cantidad">Cantidad</label>
                <input type="number" name="cantidad" id="cantidad" class="form-control" value="{{cantidadLinea}}"
                    [(ngModel)]="detalle.cantidadEgreso" (input)="calculoSubtotal($event.target.value)">
            </div>
            <div class="form-group mr1 col">
                <label for="precioVentaLinea">Importe</label>
                <input type="number" class="form-control" readonly value="{{precioVentaLinea}}" id="precioVentaLinea"
                    name="precioTotalLinea" [(ngModel)]="detalle.precioTotalLinea">
            </div>

        </div>
    </div>
    <div class="modal-footer">
        <button (click)="agregarItem(encabezado, detalle)" class="btn btn-primary">
            <fa name="check"></fa> Confirmar
        </button>
        <button (click)="modalRef.hide()" class="btn btn-secondary">
            <fa name="times"></fa> Cancelar
        </button>
    </div>

</ng-template>

<ng-template #modalConfirmar>
    <div class="modal-header">
        <h3 class="text-center">Confirmar datos de comprobante a emitir</h3>
    </div>
    <div class="modal-body">
        <table class="table table-bordered">
            <thead>
                <th class="bg-success text-center">Fecha</th>
                <th class="bg-success text-center">Nº Comprobante</th>
            </thead>
            <tbody>
                <tr>
                    <td class="text-center">{{encabezado.fecha | date:'dd/MM/yyyy'}}</td>
                    <td class="text-center">{{encabezado.comprobante}}</td>
                </tr>
            </tbody>
        </table>
        <table class="table table-bordered">
            <thead>
                <th>Razón Social / Nombre y Apellido</th>
                <th class="text-center">CUIT</th>

            </thead>
            <tbody>
                <tr>
                    <td>{{encabezado.nombreCliente}}</td>
                    <td>{{encabezado.cuitCliente}} </td>
                </tr>
            </tbody>
        </table>
        <table class="table table-bordered">
            <thead>
                <th>#</th>
                <th>Descripción</th>
                <th>Cantidad</th>
                <th>Precio</th>
                <th>Importe</th>
            </thead>
            <tbody>
                <tr *ngFor="let item of detalleArray; let i=index">
                    <td> {{i}} </td>
                    <td> {{item.nombreProducto }} </td>
                    <td class="text-right"> {{item.cantidadEgreso | number:'0.2-2'}} </td>
                    <td class="text-right"> {{item.precioVenta | number:'0.2-2'}} </td>
                    <td class="text-right"> {{item.precioTotalLinea | number:'0.2-2'}} </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="text-right bg-success"> Total:</td>
                    <td class="text-right"> {{importeTotal | number:'0.2-2' }} </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" (click)="confirmaFactura(encabezado, detalleArray)">Confirmar</button>
        <button (click)="modalRef.hide()" class="btn btn-secondary">
            <fa name="times"></fa>
            Cancelar
        </button>
    </div>
</ng-template>