<!-- Inicio de navegacion principal arriba fijo. Ver css asociado con la clase -->
<nav class="navbar navbar-expand-md navbar-dark fixed-top">
  <!-- Brand Logo del sistema (aca puede ir imagen pequeña) -->
  <a class="navbar-brand" id="imagenCubo" routerLink="/">
    <img src="../../../assets/logobrand.png" width="40" height="40" alt="Tickets-App">
    StockAPP
  </a>
  <!-- Boton o link para ir a pagina principal. -->
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">
          <fa name="home"></fa>
          Inicio <span class="sr-only">(current)</span>
        </a>
      </li>
    </ul>
    <!-- Dropdown Configuracion -->
    <div class="btn-group ml-5" dropdown>
      <button id="button-basic" dropdownToggle type="button" class="btn dropdown-toggle botlog mr-4"
        aria-controls="productos">
        <fa name="cog" animation="spin"></fa>
        Configuración
        <!-- <span class="caret"></span> -->
      </button>
      <ul id="productos" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
        <li role="menuitem"><a class="dropdown-item" routerLink='abmproveedores'>
            <fa name="plus"></fa> ABM Proveedores
          </a></li>
        <li role="menuitem"><a class="dropdown-item" routerLink='abmclientes'>
            <fa name="plus"></fa> ABM Clientes
          </a></li>
        <li role="menuitem"><a class="dropdown-item" routerLink='abmproductos'>
            <fa name="plus"></fa> ABM Productos
          </a></li>
        <li role="menuitem"><a class="dropdown-item" routerLink='abmrubros'>
            <fa name="plus"></fa> ABM Rubros
          </a></li>
      </ul>
    </div> <!-- Fin div menu configuracion -->
    <!-- Dropdown Movimientos de Stock -->
    <div class="btn-group ml-2" dropdown>
      <button id="button-basic" dropdownToggle type="button" class="btn dropdown-toggle botlog mr-4"
        aria-controls="productos">
        <fa name="truck"></fa>
        Movimientos
      </button>
      <ul id="productos" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
        <li role="menuitem">
          <a class="dropdown-item" routerLink='ingreso'>
            <fa name="plus"></fa> Ingreso a Deposito
          </a>
        </li>
        <li role="menuitem">
          <a class="dropdown-item" routerLink='egresoStock'>
            <fa name="plus"></fa> Salida por Stock
          </a>
        </li>
        <li role="menuitem">
          <a class="dropdown-item" routerLink='egresoVentas'>
            <fa name="plus"></fa> Salida por Facturación
          </a>
        </li>
      </ul>
    </div> <!-- Fin div menu Movimientos -->
    <div class="btn-group ml-2" dropdown>
      <button id="button-basic" dropdownToggle type="button" class="btn dropdown-toggle botlog mr-4"
        aria-controls="productos">
        <fa name="search"></fa>
        Consultas
      </button>
      <ul id="productos" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
        <li role="menuitem">
          <a class="dropdown-item" routerLink='conMovimientos'>
            <fa name="plus"></fa> Movimientos
          </a>
        </li>
        <li role="menuitem">
          <a class="dropdown-item" routerLink='conIngresos'>
            <fa name="plus"></fa> Ingresos
          </a>
        </li>
        <li role="menuitem">
          <a class="dropdown-item" routerLink='conEgresosVenta'>
            <fa name="plus"></fa> Salidas por Ventas
          </a>
        </li>
        <li role="menuitem">
          <a class="dropdown-item" routerLink='conEgresosStock'>
            <fa name="plus"></fa> Salidas por Stock
          </a>
        </li>
      </ul>
    </div> <!-- Fin div menu Movimientos -->
  </div>
  <div class="btn-group ml-5" dropdown>
    <button id="button-basic" dropdownToggle type="button" class="btn dropdown-toggle botlog mr-4" aria-controls="test">
      <fa name="cog" animation="spin"></fa>
      Test Component
    </button>
    <ul id="test" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
      <li role="menuitem">
        <a class="dropdown-item" routerLink='probarModulo'>
          <fa name="plus"></fa> Pruebas
        </a>
      </li>
    </ul>
  </div>

</nav> <!-- Fin de navegacion -->
