<!-- Consulta de movimientos generales -->
<!-- Tabla de ingresos completa sin filtro (Solo filtro los ingresos con ngif en cada td) -->
<h3>Consulta de Salidas de Depósito por Stock (Ajustes)</h3>
<div class="row mt-4">
    <table class="table table-hover mt-10">
      <thead class="text-center">
        <th class="d-none">ID</th>
        <th>Fecha</th>
        <th>Tipo Movimiento</th>
        <th>Producto</th>
        <th>Cliente</th>
        <th>Salida</th>
        <th>Precio Venta</th>
      </thead>
      <tbody >
        <tr *ngFor="let mov of movimientos">
          <td class="d-none" *ngIf="(mov.tipoMovimiento == 'EG-Stock')"> {{mov.id}} </td>
          <td class="text-center" *ngIf="(mov.tipoMovimiento == 'EG-Stock')"> {{mov.fecha.toDate() | date: 'dd/MM/yyyy'}} </td>
          <td class="text-center" *ngIf="(mov.tipoMovimiento == 'EG-Stock')"> {{mov.tipoMovimiento}} </td>
          <td class="text-left" *ngIf="(mov.tipoMovimiento == 'EG-Stock')"> {{mov.nombreProducto}} </td>
          <td class="text-left" *ngIf="(mov.tipoMovimiento == 'EG-Stock')"> {{mov.nombreCliente}} </td>          
          <td class="text-right" *ngIf="(mov.tipoMovimiento == 'EG-Stock')"> {{mov.cantidadEgreso | number: '0.2-2'}} </td>
          <td class="text-right" *ngIf="(mov.tipoMovimiento == 'EG-Stock')"> {{mov.precioVenta | currency:'$AR '}} </td>
        </tr>
      </tbody>
    </table>
  </div>
  
