<form>
    <div class="form-group row">
        <label for="nombre" class="form-check-label">Nombre:</label>
        <div class="col-md-5">
            <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="regRubro.nombre">
        </div>
        <div class="col-md-3">
            <input type="checkbox" class="form-check-input" id="activo" name="activo" [(ngModel)]="regRubro.activo">
        </div>
        <label for="activo" class="form-check-label">Activo:</label>
    </div>
    <div class="row mb-5">
        <div class="col text-center">
            <button (click)="agregaRubro(regRubro)" class="btn btn-primary" >Guardar</button>

        </div>
    </div>
</form>
<table class="table mt-10">
    <thead>
        <th>ID</th>
        <th>Nombre</th>
        <th>Estado</th>
        <th>Acciones</th>
    </thead>
    <tbody>
        <tr *ngFor="let rb of rubros" [ngClass]="{'inactivo': !rb.activo, 'activo': rb.activo}">
            <td> {{rb.id}} </td>
            <td> {{rb.nombre}} </td>
            <td *ngIf="rb.activo"> Rubro Inactivo </td>
            <td *ngIf="!rb.activo"> Rubro Activo </td>
            <td>
                <button class="btn btn-info">Editar</button>
            </td>
        </tr>
    </tbody>
</table>