/* Estilos Globales de la app */
.inactivo {
  background-color: gray;
}

.activo {
  background-color: rgb(178, 221, 165);
}

.ingreso {
  background-color: burlywood;
}
.egreso {
  background-color: cornflowerblue;
}
.precioOferta {
  background-color: gold;
}
td fa { 
  font-size: 1rem;
}
.precioComun {
  background-color: aqua;
}
.stockBajo {
  background-color: orange;
}
body {
  background: #70e1f5;
  background: -webkit-linear-gradient(to right, #ffd194, #70e1f5);
  background: linear-gradient(to right, #ffd194, #70e1f5);

}

#imagenCubo img {
  /* animation: rotate 0.5s infinite; */
  animation-name: rotate;
  /* animation-duration: 1s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running; */
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotate {
  from {transform:rotate(0deg);}
  to {transform:rotate(365deg);}
}

#imagenCubo img:hover {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
