<!-- Consulta de movimientos generales -->
<!-- Tabla de ingresos completa sin filtro (Solo filtro los ingresos con ngif en cada td) -->
<h3>Consulta de Ingresos a Depósito</h3>
<div class="row mt-4">
    <table class="table table-hover mt-10">
      <thead class="text-center">
        <th class="d-none">ID</th>
        <th>Fecha</th>
        <th>Producto</th>
        <th>Proveedor</th>
        <th>Unidades</th>
        <th>Precio Compra</th>
      </thead>
      <tbody >
        <tr *ngFor="let mov of movimientos">
          <td class="d-none" *ngIf="(mov.tipoMovimiento == 'Ingreso')"> {{mov.id}} </td>
          <td class="text-center" *ngIf="(mov.tipoMovimiento == 'Ingreso')"> {{mov.fecha.toDate() | date: 'dd/MM/yyyy'}} </td>
          <td class="text-left" *ngIf="(mov.tipoMovimiento == 'Ingreso')"> {{mov.nombreProducto}} </td>
          <td class="text-left" *ngIf="(mov.tipoMovimiento == 'Ingreso')"> {{mov.nombreProveedor}} </td>
          <td class="text-right" *ngIf="(mov.tipoMovimiento == 'Ingreso')"> {{mov.cantidadIngreso | number: '0.2-2'}} </td>
          <td class="text-right" *ngIf="(mov.tipoMovimiento == 'Ingreso')"> {{mov.precioCompra | currency:'$ '}} </td>
        </tr>
      </tbody>
    </table>
  </div>
  
